<div class="d-flex align-items-start row">
    <div class="nav flex-column nav-pills me-3 ps-3 pt-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link btn btn-secondary" href="/teacher/dashbook/"  > dashbook</a>
      <a class="nav-link btn btn-secondary" href="/teacher/profile/">Profile</a>
      <a class="nav-link btn btn-secondary" href="/teacher/course/">Course</a>
      <a class="nav-link btn btn-secondary" href="/teacher/timetable/">Timetable</a>
      <a class="nav-link btn btn-secondary" href="/teacher/friend/">Friend</a>
       <a class="nav-link btn btn-secondary" href="/teacher/report/">Report</a> 
    <div class="nav-link btn btn-secondary" >
        
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Notification
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/teacher/notification/">for all</a></li>
              <li><a class="dropdown-item" href="/teacher/onlynoti/">for only one</a></li>
            </ul>
          </div>
        </div>
        <a class="nav-link btn btn-secondary" href="/teacher/logout/">Logout</a>

    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0" >...</div>
      <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">...</div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" tabindex="0">...</div>
    </div>
  </div>