{% extends "t_base.html" %}
{% block title %}
Report
{% endblock %}
{% block body %}
<h2>Report</h2><hr><hr>

<div class="bg-gray-100 font-sans container" >
    <div class="container mx-auto my-10 p-8 bg-white shadow-md">
        <h1 class="text-3xl font-bold mb-8">attandence List</h1>
        
        <table class="table table-success table-striped-columns">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Date & time</td>
            </tr>
            {% for i in check %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.cuser.auth.username}}</td>
                <td>{{i.date}}</td>
            </tr>
            {% endfor %}
        </thead>
          </table>
</div>
</div>
{% endblock %}